:root {
    --clr-primary: #0C356A;
    --clr-primary-light: #0174BE;
    --clr-secondary: #fab81e;
    --clr-secondary-light: #fddc8f;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-small: 0.5rem;
    --fs-normal: 1rem;
    --fs-large: 2rem;

    --br: 10px;
}

h1, h2, h3, h4, h5, h6 {margin: 0;}

html {
    background: var(--clr-primary-light);
    font-family: sans-serif;
}



@media (max-width: 650px) {

}