/* default theme */
:root {
    color-scheme: light;

    --primary: #ffb300;
    --secondary: #0174Be;
    --accent: #006caf;

    --white: white;
    --black: black;
    --gray: lightgray;
    --red: red;
    
    --shadow: black;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-small: 0.5rem;
    --fs-normal: 1rem;
    --fs-large: 1.5rem;

    --br: 10px;

    background: var(--secondary);
    font-family: sans-serif;
}

/* auto detect system dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --primary: #c08600;
        --secondary: #005081;
        --accent: #43b6fe;

        --white: #333333;
        --black: white;
        --gray: gray;
        --red: tomato;

        --shadow: black;

        --fw-regular: 400;
        --fw-bold: 700;

        --fs-small: 0.5rem;
        --fs-normal: 1rem;
        --fs-large: 1.5rem;

        --br: 10px;

        background: var(--secondary);
        font-family: sans-serif;
    }
}



/* general styles */
* {transition: 200ms ease-in-out;}

a, input[type="checkbox"] {transition-property: background;}

html {scroll-behavior: smooth; -webkit-tap-highlight-color: transparent;}

img {max-width: 100%; pointer-events: none;}

h1, h2, h3, h4, h5, h6 {margin: 0;}

::selection {
    background: var(--black);
    color: var(--white);
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

abbr {
    text-decoration: none;
    /* border-bottom: 2px dotted var(--black); */
}

select, input,
label:has(input, textarea) {
    cursor: pointer;
}

input:is([type="text"], [type="password"], [type="email"], [type="number"]) {
    cursor: text;
}

input:disabled,
select:disabled,
tr:has(input:disabled) {
    cursor: not-allowed !important;
}

/* alternate table row color */
tr:nth-of-type(2n + 1) {
    background: var(--gray);
}



/* notification style */
.notify-wrap {
    position: fixed;
    left: 0;
    right: 0;
    user-select: none;
    top: .3rem;
    transition: 200ms ease-in-out;
    z-index: 20;
}

.notify {
    margin: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    font-weight: var(--fw-bold);
    border-radius: var(--br);
    background: green;
    color: white;
    opacity: .95;
}

.notify span {
    padding: 1rem;
}

.notify input {
    padding: 1rem;
    background: transparent;
    border: 0;
    color: white;
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    border-radius: 0 var(--br) var(--br) 0;
}

.notify input:hover {
    background: color-mix(in srgb, transparent 100%, black 30%);
}

.hide-notify {
    transform: translateY(-10rem);
}



/* loading window style */
#loading {
    display: flex;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 20;
}

#loading:hover {
    cursor: wait;
}

#loading h1 {
    margin: auto;
    width: fit-content;
    background: var(--white);
    padding: 8rem;
    border-radius: var(--br);
}

#loading h1::after {
    margin: auto;
    margin-top: 2rem;
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 2rem solid var(--black);
    border-color: var(--black) transparent;
    animation: hourglass 1.2s infinite;
}

@keyframes hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.hide-loading {display: none !important;}



/* confirmation style */
.modal {
    background: var(--white);
    border-radius: var(--br);
    box-shadow: 0 0 3rem var(--shadow);
    max-inline-size: 47ch;
}

.modal h1 {
    border-bottom: 3px solid var(--black);
}

.modal h2 {
    margin-block: 1rem;
    text-align: left;
}

.modal .btns {
    display: flex;
    gap: .3rem;
}

.modal .btns input {
    background: var(--primary);
    padding: .5rem;
    border: 0;
    border-radius: var(--br);
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-large);
    margin: 0;
}

.modal .btns :first-child {
    width: 100%;
    border-radius: var(--br);
}

.modal .btns :first-child:hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}

.modal .btns :last-child {
    width: 2.5rem;
    padding: .3rem;
    background: var(--red);
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: white;
}

.modal .btns :last-child:hover {
    background: color-mix(in srgb, var(--red) 100%, var(--white) 30%);
}



/* navigation style */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    padding-block: 1.3rem;
    gap: 2rem;
}

nav .ln {
    font-weight: var(--fw-bold);
    font-size: var(--fs-large);
}

.ln {
    color: var(--black);
    text-decoration: none;
    position: relative;
    outline: none;
}

.ln::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 6px;
    width: 100%;
    background-color: var(--accent);
    border-radius: var(--br);
    transform: scaleX(0);
    transform-origin: middle;
    transition: 200ms ease-in-out;
    pointer-events: none;
}

.ln:hover::after, .ln:focus::after {
    transform: scaleX(100%);
}

.ln:hover, .ln:focus {
    color: var(--accent);
}



/* footer style */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    text-align: center;
    font-size: var(--fs-normal);
    font-weight: var(--fw-bold);
    padding: 1rem;
    margin-top: auto;
}

footer > :last-child {
    padding-left: 1rem;
    border-left: 3px solid var(--black);
    margin-left: 1rem;
}

footer :first-child a {
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    color: currentColor;
}



/* error pages style */
.error {
    background: var(--white);
    width: fit-content;
    padding: 2rem;
    border-radius: var(--br);
    font-weight: var(--fw-bold);
    margin: auto;
    box-shadow: 0 0 1rem var(--shadow);
    max-inline-size: 60ch;
}

.error #eback {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
}



/* most pages style */
div:has(.wrapper, .form) {
    margin: auto;
    width: 100%;
}

.wrapper {
    overflow-x: auto;
}

.container {
    width: fit-content;
    margin: auto;
    margin-block: 2rem;
    padding: 2rem;
    background: var(--white);
    border-radius: var(--br);
    box-shadow: 0 0 1rem var(--shadow);
}

@media (max-width: 750px) {
    .view, .checkout, .error {
        width: 80%;
    }
}



/* forms style */
fieldset {
    border-radius: var(--br);
    border: solid 3px var(--black);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

legend {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    text-align: center;
}

.form {
    margin: auto;
    width: 100%;
    overflow-x: auto;
}

.form * {font-weight: var(--fw-bold);}

.form .main {
    width: fit-content;
    margin: auto;
    margin-block: 2rem;
    padding: 2rem;
    background: var(--white);
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1rem var(--shadow);
}

.form label {
    font-weight: var(--fw-bold);
}

.form input {
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 20rem;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="number"],
.form input[type="email"]   {
    border-radius: var(--br);
    border: none;
    outline: 2px solid var(--black);
    transition: 140ms ease-in-out;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="number"]:focus,
.form input[type="email"]:focus   {
    outline: 6px solid var(--accent);
}

.form .buttons {
    display: flex;
    justify-content: center;
    gap: .2rem;
    margin-top: 1rem;
}

.form .buttons a {
    color: currentColor;
    text-align: center;
}

.form h4 {margin-top: 1rem;}

.form .btn {
    width: 100%;
    background: var(--primary);
    padding: .5rem;
    margin: 0;
    border: 0;
    border-radius: var(--br);
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
}

.form .btn:hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}

.form .left {
    border-radius: var(--br) 0 0 var(--br);
}

.form .right {
    border-radius: 0 var(--br) var(--br) 0;
}

.form .verify {
    margin-top: 1rem;
    border-top: 3px solid var(--black);
    padding-top: 1rem;
}

.disable .main input[type="checkbox"] {
    width: auto;
    margin: auto;
}

.disable .main fieldset :nth-child(3) {
    max-inline-size: 40ch;
}

.disable .left {
    background: var(--red);
}

.disable .left:hover {
    background: color-mix(in srgb, var(--red) 100%, var(--white) 30%);
}

.disable .right {
    width: 15rem;
}



/* index style */
.index {position: relative;}

.top {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    background: var(--secondary);
    padding-block: 1.5rem;
    padding-inline: calc(5vw + 2rem);
    position: sticky;
    top: 0;
    z-index: 10;
}

.search {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.search input, .search select, .search option {
    padding: .5rem;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    border: none;
}

.search input[type="text"] {
    width: 100%;
    border-radius: var(--br) 0 0 var(--br);
}

.search input[type="submit"] {
    border-radius: 0 var(--br) var(--br) 0;
    background: var(--primary);
}

.search input[type="submit"]:hover  {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}

.search select {
    border-radius: var(--br);
}

.search .field {
    display: flex;
    gap: .3rem;
    max-width: 40rem;
    flex-grow: 1;
}

.cart {
    display: flex;
    gap: .3rem;
    margin-left: auto;
}

@media (max-width: 750px) {
    .top {
        padding-inline: 4vw;
    }
    .search .field {
        width: 70%;
        order: -2;
    }
    .search .cart {
        order: -1;
    }
    .search :nth-child(2) {margin-left: auto;}
    .search :nth-child(4) {margin-right: auto;}
}

.cart a {
    background: var(--primary);
    padding: .5rem;
    text-align: center;
    border-radius: var(--br) 0 0 var(--br);
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    color: currentColor;
}

.cart a:hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}

.cart span {
    background: var(--white);
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    padding-block: .5rem;
    padding-inline: 1rem;
    text-align: center;
    border-radius: 0 var(--br) var(--br) 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-inline: calc(5vw + 2rem);
    padding-bottom: 8rem;
    padding-top: 2rem;
    justify-content: center;
}

.card {
    flex: 1 1 14rem;
    max-width: 19rem;
    background: var(--white);
    border-radius: var(--br);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    outline: 1px solid transparent;
    text-decoration: none;
    color: var(--black);
    transition: 200ms ease-in-out;
    position: relative;
}

@media (max-width: 750px) {
    .grid {
        gap: 1.5rem;
    }
    .card {
        flex: 1 1 8rem;
        max-width: 14rem;
    }
}

.card:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 0 1.5rem var(--shadow);
}

.card:focus-visible {
    border-radius: var(--br);
    outline: 8px solid var(--primary);
}

.nothing {
    flex: 1 1 15rem;
    background: var(--white);
    padding: 1rem;
    border-radius: var(--br);
    text-align: center;
}

.card h3 {
    margin-top: 1rem;
}

.card .img {
    outline: solid 3px color-mix(in srgb, var(--black) 50%, var(--white) 50%);
    border-radius: var(--br);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background: var(--gray);
    position: relative;
}

.card img {
    width: 100%;
    border-radius: var(--br);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card .img span {
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--primary);
    padding: .5rem;
    border-radius: var(--br) 0;
    font-weight: var(--fw-bold);
    font-size: calc(var(--fs-normal) + .25vw);
}

.card .anchor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50vh); /* scrolls user to middle of the item */
}

.scroll {
    position: fixed;
    right: 2vw;
    bottom: 10vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 .5rem var(--shadow);
    border-radius: var(--br);
}

.scroll .btn {
    display: block;
    background: var(--primary);
    text-decoration: none;
    color: var(--black);
    padding: .5rem;
}

.scroll .btn:hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}

.scroll .up {
    border-radius: var(--br) var(--br) 0 0;
    border-bottom: 2px solid var(--black);
}

.scroll .down {
    border-radius: 0 0 var(--br) var(--br);
}



/* view page style */
.view {
    display: flex;
    gap: 2rem;
}

.view section {
    margin: auto;
    background: var(--gray);
    border-radius: var(--br);
    padding: 2rem;
}

.view .img {
    width: 30rem;
    aspect-ratio: 1.25 / 1;
    object-fit: cover;
    border-radius: var(--br);
    /* outline: solid 3px black; */
    background: var(--white);
}

.view img {
    width: 100%;
    aspect-ratio: 1.25 / 1;
    object-fit: cover;
    border-radius: var(--br);
}

.view h3 {margin-block: 1rem;}

.view h4 {
    /* text-align: justify; */
    max-inline-size: 70ch;
}

.view h5 {margin-top: 1rem;}

.view aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: auto;
}

@media (max-width: 750px) {
    .view {
        flex-wrap: wrap-reverse;
    }
    .view .img {
        width: clamp(16rem, 100%, 23rem);
    }
}

.view .cart {
    margin-inline: auto;
    background: var(--gray);
    border-radius: var(--br);
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    width: 6rem;
    flex-wrap: wrap;
}

.view .cart a {margin-left: auto;}

.view .cart span:first-of-type {
    margin-right: auto;
    background: var(--secondary);
    color: white;
}

.view .cart span:nth-of-type(2) {
    flex-basis: 100%;
    border-radius: var(--br);
    padding-inline: 0;
}

.amount {
    margin-inline: auto;
    background: var(--gray);
    border-radius: var(--br);
    padding-inline: 1.5rem;
    padding-block: 2rem;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.amount .more {
    --clr: rgb(1, 196, 1);
    background: var(--clr);
    padding-inline: .7rem;
    border-radius: 0 var(--br) var(--br) 0;
    width: 2.5rem;
}

.amount .more:hover {
    background: color-mix(in srgb, var(--clr) 100%, var(--white) 30%);
}

.amount .number {
    background: var(--white);
    padding-block: .5rem;
    padding-inline: 1.5rem;
    width: 1.5rem;
}

.amount .less {
    --clr: rgb(255, 51, 51);
    background: var(--clr);
    padding-inline: .7rem;
    border-radius: var(--br) 0 0 var(--br);
    width: 2.5rem;
}

.amount .less:hover {
    background: color-mix(in srgb, var(--clr) 100%, var(--white) 30%);
}

.amount input {
    background: var(--primary);
    padding: .5rem;
    margin: 0;
    border: 0;
    border-radius: var(--br);
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
}

.control {
    margin-inline: auto;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    display: flex;
}

.view .back {
    display: block;
    background: var(--primary);
    padding: .5rem;
    text-align: center;
    border-radius: var(--br);
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    color: var(--black);
}

.view .back:hover, .view .amount input[type="submit"]:hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}



/* cart style */
.checkout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkout fieldset {
    padding: 1.5rem;
    gap: 2rem;
}

.checkout .item {
    background: var(--gray);
    border-radius: var(--br);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    position: relative;
}

.checkout .img {
    width: 20rem;
    aspect-ratio: 1.25 / 1;
    object-fit: cover;
    border-radius: var(--br);
    background: var(--white);
}

.checkout img {
    width: 100%;
    aspect-ratio: 1.25 / 1;
    object-fit: cover;
    border-radius: var(--br);
}

.checkout .info {
    background: var(--white);
    padding: 1rem;
    border-radius: var(--br);
    width: 14rem;
}

.checkout .info h2 {
    width: fit-content;
    margin-bottom: .3rem;
    color: color-mix(in srgb, var(--gray) 100%, var(--black) 60%);
}

.checkout .info h3 {
    margin-bottom: 1rem;
}

.checkout .info #in {
    display: inline-block;
}

.checkout .amount {
    background: var(--white);
    margin-left: auto;
    width: 10rem;
}

@media (max-width: 750px) {
    .checkout .item {
        margin: auto;
        width: 90%;
        flex-wrap: wrap;
        padding-block: 2rem;
    }
    .checkout .item > * {
        margin: auto;
    }
    .checkout .img {
        margin: auto;
        width: 16rem;
    }
    .checkout .info {
        margin: auto;
        width: 14rem;
    }
    .checkout .amount {
        margin: auto;
        width: 13rem;
    }
    .checkout .amount input[type="submit"] {
        margin: auto;
        width: 9.5rem;
    }
}

.checkout .amount .control span {
    background: gray;
    color: white;
}

.checkout .bottom {
    margin: auto;
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: var(--fs-large);
}

.checkout input {
    background: var(--primary);
    padding: .5rem;
    border: 0;
    border-radius: var(--br);
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
}

.checkout input#sb {
    margin-inline: auto;
    width: 60%;
    font-size: var(--fs-large);
}

.checkout input:hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}

.checkout .anchor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50vh); /* scrolls user to middle of the item */
}



/* panel pages with table style */
.manage * {
    font-weight: var(--fw-bold);
}

.manage fieldset {
    max-height: 24rem;
    overflow-y: auto;
    margin-bottom: 1rem;
    width: fit-content;
    margin-inline: auto;
}

.manage fieldset::-webkit-scrollbar {
    width: 1.5rem;
}

.manage fieldset::-webkit-scrollbar-track {
    margin-block: .5rem;
}

.manage fieldset::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: var(--br);
    border: 5px solid var(--white);
}

.manage fieldset::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.manage fieldset table {
    border-collapse: collapse;
}

.manage fieldset table,
.manage fieldset th,
.manage fieldset td {
    text-align: left;
    padding: .3rem;
}

.manage fieldset table tr:first-child {
    background: color-mix(in srgb, var(--gray) 60%, var(--black) 100%);
    color: var(--white);
    position: sticky;
    top: -1rem;
    z-index: 5;
}

.manage fieldset #clickable {
    transition: 200ms ease-in-out;
}

.manage fieldset tr:has(input[type="checkbox"]:not(:checked)) { /* see if checkbox unchecked */
    opacity: .5;
}

.manage fieldset #clickable:hover,
.manage fieldset #clickable:focus-within {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 60%) !important;
    cursor: pointer;
}

.manage fieldset td > div {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.manage fieldset #center {text-align: center;}

.manage fieldset td span {font-size: 0.75rem;}

.manage .buttons input {
    background: var(--primary);
    padding: .5rem;
    border: 0;
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
}

.manage .buttons a {
    background: var(--primary);
    padding: .5rem;
    text-align: center;
    border-radius: var(--br);
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    color: currentColor;
}

.manage .buttons input:hover, .manage .buttons a:hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}

.manage .buttons {
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.manage .buttons .main {
    display: flex;
    gap: .2rem;
}

.manage .buttons .right {
    border-radius: 0 var(--br) var(--br) 0;
    width: 6rem;
}

.manage .buttons .left {
    border-radius: var(--br) 0 0 var(--br);
    width: 6rem;
}

.manage .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.manage .links a {
    background: var(--primary);
    padding: .5rem;
    text-align: center;
    border-radius: var(--br);
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-large);
    color: currentColor;
    width: 20rem;
    margin-inline: auto;
}

.manage .links a:hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}

.manage .activity {
    max-height: 14rem;
}

.manage > h4 {
    text-align: center;
    max-inline-size: 45ch;
    margin-top: .5rem;
    margin-inline: auto;
}

.manage section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: .6rem;
}

.manage section * {
    font-weight: var(--fw-bold);
}

.manage .isearch {
    display: flex;
    gap: .3rem;
}

.manage .isearch * {
    text-align: center;
}

.manage .isearch ::placeholder {color: var(--gray);}

.manage .isearch > :nth-child(1) {
    border-radius: var(--br) 0 0 var(--br);
    border: none;
    background: var(--secondary);
    color: white;
    padding: .5rem;
    width: 25%;
}

.manage .isearch > :nth-child(2) {
    border: none;
    background: var(--secondary);
    color: white;
    padding: .5rem;
    width: 50%;
}

.manage .isearch > :nth-child(3) {
    border-radius: 0 var(--br) var(--br) 0;
    border: none;
    background: var(--primary);
    padding: .5rem;
    font-size: var(--fs-normal);
    width: 25%;
}

.manage .isearch > :nth-child(3):hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}

.manage section select {
    border-radius: var(--br);
    padding: .5rem;
}

.manage .ifilter {
    display: flex;
    gap: 1rem;
}

.manage .radio {
    display: flex;
    flex-direction: column;
}



/* create item, edit item, add item, new supplier pages style */
.create fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create * {font-weight: var(--fw-bold);}

.create input[type="text"],
.create input[type="number"],
.create input[type="email"] {
    padding: .4rem;
    width: 15rem;
    margin-top: .2rem;
}

.create input[type="file"] {
    margin-block: .2rem;
}

.create textarea {
    resize: none;
    padding: .4rem;
    margin-top: .2rem;
}

.create select {
    width: fit-content;
    padding: .4rem;
    margin-top: .2rem;
}

.create .buttons {
    display: flex;
    justify-content: center;
    gap: .2rem;
    margin-top: 1.5rem;
}

.create .btn {
    width: 100%;
    background: var(--primary);
    padding: .5rem;
    margin: 0;
    border: 0;
    border-radius: var(--br);
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    text-align: center;
    text-decoration: none;
    color: currentColor;
}

.create .btn:hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}

.create .left {
    border-radius: var(--br) 0 0 var(--br);
}

.create .right {
    border-radius: 0 var(--br) var(--br) 0;
}

.create .img {
    margin-top: .3rem;
    width: 25rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--br);
    outline: solid 3px color-mix(in srgb, var(--black) 50%, var(--white) 50%);
    background: var(--gray);
}

.create img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--br);
}



/* supplier view, order view pages style */
.address h3 {
    max-inline-size: 30ch;
    text-align: left;
    margin: 1rem;
}

.address .buttons a {
    width: 5rem;
}



/* thank you page style */
.receipt h3 {
    text-align: center;
    max-inline-size: 55ch;
}

.receipt #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--fw-bold);
}

.receipt #main h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.receipt #main h2 {
    margin-bottom: .5rem;
}

.receipt #main h5 {
    color: color-mix(in srgb, var(--gray) 100%, var(--black) 60%);
}

.receipt #main a {
    margin-bottom: 1rem;
    background: var(--primary);
    padding: .5rem;
    text-align: center;
    border-radius: var(--br);
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-large);
    color: currentColor;
    width: 20rem;
    margin-inline: auto;
}

.receipt #main a:hover {
    background: color-mix(in srgb, var(--primary) 100%, var(--white) 30%);
}